cleanup = true
process.container = '//$HOME/.dolphinnext/singularity/onuryukselen-singularity.simg'
singularity.enabled = true
process.executor = 'lsf'
process.queue = 'long'
process.memory = '64 GB'
process.cpus = 1
process.time = '4000m'
process.$Map_Tophat2.queue = 'long'
process.$Map_Tophat2.memory = '100 GB'
process.$Map_Tophat2.cpus = 4
process.$Map_Tophat2.time = '3000m'
process.$Map_Tophat2.clusterOptions = '-E "file /project/umw_biocore && file /project/umw_garberlab && file /home/oy28w && file /share/data"'
